  @font-face {
      font-family: font;
      src: url(ChickenShopGothicGX.woff2);
    }

html, body {
  /*position: absolute;*/
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}


div {
  background: white;
  height: 89.1vh;
  width: 63vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: font;
  /*border: 1px solid black;*/
  box-sizing: border-box;
  border: 4vh solid rgb(255, 255, 255);
}

p {
  font-family: 'font';
  color : #000000;
}

.noiseWord {
  position: absolute;
  /*text-align: center;*/
  vertical-align: bottom;
  top: -144.5vh;
  left: -1vh;
  /*transition: all 0.5s ease;*/
  }

.silenceWord {
  /*color: #1413C2;*/
  color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  position: absolute;
  top: -36vh;
  margin-left: -0.5vh;
  /*transition: all 0.5s ease;*/
}