@font-face {
  font-family: 'GTFlexaBold';
  src:  url('font/GT-Flexa-X-Compressed-Bold-Trial.woff2') format('woff2');
}

@font-face {
  font-family: 'GTFlexaMedium';
  src:  url('font/GT-Flexa-Medium-Trial.woff2') format('woff2');
}

  :root {
    --colorAqi: rgb(0, 0, 0);
    --width1: 0;
    --bottom1: 0;
    --marginTop1: 0;
    --height1: 0;
  }

  html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(50, 50, 50);
    }

   

  canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--marginTop1);
    /*z-index: 99;*/
    /*-webkit-filter: blur(20px);
    filter: blur(20px);*/
  }




  .container {
    height: var(--height1);   /*890.15px*/
    width:100%;
    display: block;
    z-index: 99;
    /*z-index: -1;*/
    /*background-color: rgba(137, 43, 226, 0.164);*/
  }

  .container > p {
    /*background-color: white;*/
    font-family: 'GTFlexaBold', sans-serif;
    font-size: 14vh;
    line-height: 10.5vh;
    align-items: center;
    text-align: center;
  }

  .center {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  span {
    color: var(--colorAqi);
  }

  .container > #sub1 {
    position: absolute;
    align-items: center;
    /*position: relative;*/
    width: var(--width1);
    /*margin-left: var(--marginLeft1);*/
    bottom: var(--bottom1);
}