/*@font-face {
  font-family: GT Flexa;
  src: url(typeface/GT-Flexa-Bold-Trial.otf);
  src: url(typeface/GT-Flexa-Compressed-Bold-Trial.otf);
  src: url(typeface/GT-Flexa-Condensed-Bold-Trial.otf);
  src: url(typeface/GT-Flexa-Expanded-Bold-Trial.otf);
} */

/*@font-face {
  font-family: GT Flexa Regular;
  src: url(font/GT-Flexa-Regular-Trial.otf);
}*/

/*@font-face {
	src: url('/font/gt_lexa_VAR.woff2') format('woff2-variations');
	font-family:'GT Flexa VAR';
	font-style: normal;
}*/

html, body {
  margin: 20px;
  padding: 0;
}

canvas {
  display: absolute;
  z-index: 1;
}


img {
 position: absolute;
 z-index: 0;
 /*filter: drop-shadow(2px 2px 2px #222);*/
}

/*
.silence {
  z-index: 1;
  position: absolute;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 1100px;
  font-family: 'GT Flexa VAR', 'Adobe NotDef';
  font-size: 120px;
  /*font-variation-settings: "wght" 900, "wdth" 0, "ital" 0;
}*/
